.custome-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custome-checkbox input {
  width: 44px;
  height: 44px;
}
.custome-checkbox .checked {
  opacity: 0;
  transition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  scale: 0;
  transform-origin: center;
}
.custome-checkbox:has(input:checked) .checked {
  opacity: 1;
  scale: 1;
}
.custome-checkbox p {
  color: #5d6661;
  font-size: 36.65px;
  font-weight: 400;
}

@media (max-width: 1500px) {
  h3.h3 {
    font-size: 28px;
  }
  .custome-checkbox p {
    font-size: 25px;
  }
  .custome-checkbox svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 500px) {
  h3.h3 {
    font-size: 24px;
  }
  .custome-checkbox p {
    font-size: 24px;
  }
}
button.sender-btn {
  width: 65%;
  font-size: 26px;
}
button.sender-btn svg {
  width: 22px;
  height: 22px;
}
